* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}
main section {
  max-width: 2000px;
}
main header {
  height: 10%;
  width: 100%;
  background-color: #0F172B;
}
main header .container {
  display: flex;
  padding: 1rem;
  align-items: center;
}
main header .container img {
  height: 20%;
  width: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}
main header .container h2 {
  font-size: xx-large;
  font-weight: 800;
  color: rgb(255, 166, 0);
}
main .view1 {
  width: 100%;
  height: 100%;
}
main .view1 .container1 {
  width: 100%;
  color: #ffffff;
  padding: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(10, 18, 47, 0.8), rgba(10, 18, 47, 0.7)), url("./images/image1.jpg") center/cover no-repeat;
}
main .view1 .container1 .box1 {
  height: 35%;
  margin-top: 8rem;
}
main .view1 .container1 .box1 h2 {
  width: 90%;
  text-align: center;
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: 2rem;
}
main .view1 .container1 .box1 p {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  font-size: larger;
  font-weight: 400;
}
main .view1 .container1 .box2 {
  height: 42%;
  display: flex;
  margin-top: 4rem;
  overflow: visible;
  align-items: center;
  justify-content: center;
}
main .view1 .container1 .box2 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: rotate 22s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .view2 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  flex-direction: column;
  background: #e8e8e8;
}
main .view2 .info {
  height: 25%;
  border-radius: 0.7rem;
  padding: 1.5rem;
  line-height: 1.7rem;
  background: #ffffff;
}
main .view2 .info img {
  height: 25%;
  width: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view2 .info h2 {
  margin-top: 1rem;
  text-transform: capitalize;
}
main .view2 .info p {
  font-weight: 650;
  margin-top: 1rem;
  opacity: 0.7;
  text-transform: capitalize;
}
main .view2 .info:hover {
  transform: scale(1);
  transition: all 0.4s ease;
  background-color: #FEA116;
  color: #ffffff;
  cursor: pointer;
}
main .view2 .info:hover img {
  border-radius: 0.7rem;
  background: #ededed;
}
main .view3 {
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .view3 .box1 {
  width: 100%;
  gap: 0.7rem;
  padding: 0.5rem;
}
main .view3 .box1 .container {
  width: 100%;
  gap: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
main .view3 .box1 .container img {
  height: 50%;
  width: 50%;
  gap: 1rem;
  border-radius: 0.5rem;
}
main .view3 .box1 .container .about {
  height: 45%;
  width: 45%;
}
main .view3 .box2 {
  width: 100%;
}
main .view3 .box2 .about-us {
  color: #FEA116;
}
main .view3 .box2 h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
main .view3 .box2 p {
  width: 95%;
  margin-top: 1rem;
  opacity: 0.7;
  font-weight: 650;
  line-height: 1.5rem;
}
main .view3 .box2 .experience {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view3 .box2 .experience .exp {
  width: 70%;
  margin: 0 0 0 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}
main .view3 .box2 .experience .exp .p15 {
  color: #fd7e14;
  font-size: 2.7rem;
  font-weight: bolder;
}
main .view3 .box2 .experience .exp .year {
  opacity: 1;
  font-size: large;
  font-weight: 900;
  margin-right: 1rem;
  color: black;
}
@media (min-width: 900px) {
  main header .container {
    justify-content: center;
  }
  main header .container img {
    height: 2%;
    width: 4%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .view1 .container1 {
    padding: 2rem;
    gap: 2rem;
    flex-direction: row;
  }
  main .view1 .container1 .box1 {
    height: 50%;
    margin-top: 1rem;
  }
  main .view1 .container1 .box1 h2 {
    text-align: left;
    width: 50%;
  }
  main .view1 .container1 .box1 p {
    text-align: left;
    margin-left: 1rem;
    font-weight: lighter;
  }
  main .view1 .container1 .box2 {
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
  }
  main .view1 .container1 .box2 img {
    height: 220%;
  }
  main .view1 .container1 .box1, main .view1 .box2 {
    width: 50%;
  }
  main .view2 {
    flex-direction: row;
  }
  main .view2 .info {
    width: 25%;
  }
  main .view3 {
    flex-direction: row;
  }
  main .view3 .box1 .container img {
    height: 40%;
    width: 40%;
  }
  main .view3 .box1 .container .about {
    height: 35%;
    width: 35%;
  }
  main .view3 .box1, main .view3 .box2 {
    width: 50%;
  }
  main .view3 .box2 {
    margin-top: 3rem;
  }
  main .view3 .box2 h2 {
    font-size: 2.5rem;
  }
  main .view3 .box2 p {
    width: 90%;
    opacity: 0.5;
  }
  main .view3 .box2 .experience {
    gap: none;
  }
  main .view3 .box2 .experience .exp {
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  main .view3 .box2 .experience .exp #pp15 {
    margin-top: 7rem;
  }
  main .view3 .box2 .experience .exp .p15 {
    opacity: 1;
    color: #fd7e14;
    font-size: 3.2rem;
  }
}/*# sourceMappingURL=style.css.map */